:root {
    --night: #1c204a;
    --violet: #30397d;
    --deep: #101644;
    --cream: #ededcc;
    --bamboo: #C9A15c;
    --bamboo2: #C9A15c;
    --marigold: #ec9c40;
    --rose: #f17458;
    --peacock: #49925e;
    --muted: #f2f2f2;
    --wrap: 1360px;
    --pad: clamp(20px, 4vw, 64px);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--cream);
    background: var(--night);
    font-family: 'Jost', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
h3 {

    font-family: 'Marcellus', Georgia, serif;
    font-weight: 410;
    margin: 0;
    line-height: 1.0;
}

p {
    margin: 0 0 1.1em;
}

p:last-child {
    margin-bottom: 0;
}

b {
    font-weight: 500;
    color: var(--bamboo);
}

em {
    font-style: normal;
    color: var(--marigold);
}

.wrap {
    width: 100%;
    max-width: var(--wrap);
    margin: 0 auto;
    padding: 0 var(--pad);
}

/*-- the field where stars are gonna be added --*/
.stars {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background-image: radial-gradient(1.4px 1.4px at 13% 18%, rgba(243, 234, 217, 0.55) 50%, transparent 51%),
        radial-gradient(1.2px 1.2px at 34% 63%, rgba(243, 234, 217, 0.4) 50%, transparent 51%),
        radial-gradient(1.6px 1.6px at 58% 24%, rgba(243, 234, 217, 0.5) 50%, transparent 51%),
        radial-gradient(1.2px 1.2px at 77% 69%, rgba(243, 234, 217, 0.36) 50%, transparent 51%),
        radial-gradient(1.5px 1.5px at 90% 35%, rgba(243, 234, 217, 0.45) 50%, transparent 51%),
        radial-gradient(1.2px 1.2px at 25% 85%, rgba(243, 234, 217, 0.35) 50%, transparent 51%),
        radial-gradient(1.3px 1.3px at 66% 88%, rgba(243, 234, 217, 0.39) 50%, transparent 51%),
}

body>*:not(.stars) {
    position: relative;
    z-index: 1;
}






}